@use '/src/scss/dark-slider';

body[data-theme='dark'] {
  .slider-tab {
    background-color: var(--jrcolor-mediumgray);
  }

  .slider-image {
    border: 5px solid var(--jrcolor-mediumgray);
  }

  .link-href {
    color: var(--jrcolor-lightblue);
  }

  .project-date {
    background-color: var(jrcolor-darkgray);
    color: var(--jrcolor-lightblue);
  }

  .project-title-settings {
    color: var(--jrcolor-lightblue);
  }

  header {
    text-align: center;
    background-color: var(--jrcolor-darkyellow);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    border-bottom: var(--jrcolor-darkyellow) 2px solid;

    .nav {
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 0.6rem;
      height: 54px;
      background-color: var(--jrcolor-mediumyellow);
      z-index: 900;
    }
  }

  .header-image {
    border: 5px solid var(--jrcolor-darkgray);
    border-radius: 50%;
  }

  header h1 {
    color: var(--jrcolor-black);
  }

  .header-sub-title {
    color: var(--jrcolor-black);
    background-color: var(--jrcolor-mediumgray);
    border: var(--jrcolor-darkblue) 1px dotted;
    border-radius: 2rem;
  }

  #about {
    background: var(--jrcolor-brown);

    h1 {
      padding: 0px;
    }

    .card {
      background-color: var(--jrcolor-darkgray);
    }

    .card-header,
    .card-footer {
      background-color: var(--jrcolor-darkgreen);
    }
  }

  #portfolio {
    background: var(--jrcolor-mediumgreen);
    padding-bottom: 1rem;
  }

  .foto div {
    background: var(--jrcolor-darkgray);
    -webkit-box-shadow: 0 4px 6px var(--jrcolor-black);
    -moz-box-shadow: 0 4px 6px var(--jrcolor-black);
    box-shadow: 0 4px 6px var(--jrcolor-black);

    @media (max-width: 600px) {
      -webkit-box-shadow: 0 2px 4px var(--jrcolor-black);
      -moz-box-shadow: 0 2px 4px var(--jrcolor-black);
      box-shadow: 0 2px 4px var(--jrcolor-black);
    }
  }

  .foto div:hover {
    -webkit-box-shadow: 0 10px 20px var(--jrcolor-black);
    -moz-box-shadow: 0 10px 20px var(--jrcolor-black);
    box-shadow: 0 10px 20px var(--jrcolor-black);
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    box-shadow: 8px 10px 5px 0px var(--jrcolor-darkyellow);

    @media (max-width: 600px) {
      width: 150px;
      height: 150px;
    }
  }

  #skills {
    background: var(--jrcolor-darkgray);
    padding-bottom: 4px;
  }

  .skills-tile {
    background-color: var(--jrcolor-black);
    border-radius: 10px;
    margin: 6px;

    :hover,
    :active {
      cursor: default;
    }
  }

  .skill-icon-text {
    font-size: 1rem;
    font-weight: 600;
    color: var(--jrcolor-white);
    margin: 0px 6px 6px 6px;
  }

  #resume {
    // filter: brightness(80%);
    background: var(--jrcolor-mediumgreen);

    .experience-badge {
      background: var(--jrcolor-lightblue);
      color: var(--jrcolor-black);
      padding: 0px 5px;
      margin: 2px 2px;
      border-radius: 1rem;
    }

    .main-badge {
      background: var(--jrcolor-darkyellow);
    }

    .vertical-timeline-element-content {
      color: var(--jrcolor-lightblue);
      background: var(--jrcolor-darkgray);
    }

    .vertical-timeline-element-date {
      color: var(--jrcolor-white);
    }

    .vertical-timeline-element-icon {
      background: var(--jrcolor-darkblue2);
    }

    .experience-icon {
      font-size: 1.8rem;
      color: var(--jrcolor-mediumyellow);
      margin-top: 1rem;
      margin-left: 0.7rem;
    }
  }

  #foot {
    background-color: var(--jrcolor-mediumyellow);
  }

  .revision-text {
    color: var(--jrcolor-lightblue);
  }

  .modal-inside .modal-content {
    background-color: var(--jrcolor-darkgray);
    color: var(--jrcolor-lightblue);
  }

  section {
    border-bottom: var(--jrcolor-black) 2px solid;
  }

  .section-title {
    color: var(--jrcolor-lightblue);
  }

  .jr-software-logo {
    border: 5px solid var(--jrcolor-darkyellow);
    border-radius: 50%;
    -webkit-box-shadow: 0px 4px 6px var(--jrcolor-black);
    -moz-box-shadow: 0px 4px 6px var(--jrcolor-black);
    box-shadow: 0px 4px 6px var(--jrcolor-black);

    @media (max-width: 600px) {
      border: 2px solid var(--jrcolor-darkyellow);
      -webkit-box-shadow: 0px 2px 3px var(--jrcolor-black);
      -moz-box-shadow: 0px 2px 3px var(--jrcolor-black);
      box-shadow: 0px 2px 3px var(--jrcolor-black);
    }
  }
}
