@use '/src/scss/dark-slider';

body[data-theme='dark'] {
  .slider-tab {
    background-color: #8c8c8c;
  }

  .title-styles {
    color: white;
  }

  .slider-image {
    border: 5px solid #8c8c8c;
  }

  .language {
    background-color: #494949;
  }

  .link-href {
    color: white;
  }

  .project-date {
    background-color: #918e97;
    color: white;
  }

  header {
    background-color: #494949;
    h1 {
      color: white;
    }
    .title-container {
      color: white;
    }
  }
  
  #about {
    background-color: #7f7f7f;
    h1 span {
      color: white;
    }
    .polaroid span {
      background: #6d6d6d;
    }
    .card {
      background: #6d6d6d;
      color: white;
    }

    .card-header {
      background: #464646;
      h1 {
      color: white;
    }
  }
      
    .profile-pic {
      box-shadow: 8px 10px 5px 0px #a59753;
    }

  }

  .themed-boxshadow {
    box-shadow: '8px 10px 5px 0px #a59753';
  }

  #portfolio {
    background: #5b5b5b;
    .section-title {
      color: white !important;
    }
    .foto div {
      background: #6d6d6d;
    }
    .project-title-settings {
      color: white;
    }
  }

  #resume {
    filter: brightness(80%);
    background: #5b5b5b;
    .section-title {
      color: white !important;
    }

    .experience-badge {
      background: #919191 !important;
      color: white;
    }

    .main-badge {
      background: #919191 !important;
    }

    .vertical-timeline-element-date {
      color: white;
    }

    .vertical-timeline-element-icon {
      background: #919191 !important;
    }
    @media only screen and (max-width: 1169px) {
      .vertical-timeline-element-date {
        color: black;
      }
    }
  }

  #foot {
    background-color: #494949;
  }

  .revision-text {
    color: white;
    font-size: 2em;
    padding-right: 4px;
  }

  .modal-inside .modal-content {
    background: #5b5b5b;
    color: white;
  }

  .close-icon {
    color: white;
  }

  
  .header-image {
    width: 350px;
    border-radius: 50%;
    border: 5px solid #eee2bd;
  }
}
