@use '/src/scss/colors.scss';
@use '/src/scss/themes/theme-dark.scss';
@use '/src/scss/themes/theme-light.scss';

html {
  font-size: 16px;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 360px) {
  html {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
  }

  .nav-link {
    font-size: 8px;
  }
}

.mouse-arrow-only {
  margin-top: 52px;
  cursor: default;
}

header {
  text-align: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;

  .nav {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    height: 52px;
    z-index: 900;
  }
}

.header-image {
  width: 26vw;
  margin: 1rem;
}

header h1 {
  text-align: center;
  font-weight: 600 !important;
  width: 100%;
}

.header-sub-title {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2px;
}

.header-sub-titles {
  width: 100%;
}

.section-title {
  font-size: 2rem;
  font-weight: 700;
  padding-top: 8px;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  background: transparent;
  cursor: default;
}

article {
  z-index: 0;
}

header :link {
  color: var(--jrcolor-bluelink);
  text-decoration-line: underline;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

.slider-iconify {
  margin: 3px;
}

.foto img {
  display: block;
  width: 100%;
}

.foto div {
  display: inline-block;
  margin: 0 auto 5% auto;
  padding: 10px 10px 5px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  transition: all 0.2s linear;
  z-index: 0;
  position: relative;
}

.foto div:after {
  content: attr(title);
  position: relative;
  top: 15px;
}

.foto div:hover {
  -webkit-transform: scale(1.01);
  -moz-transform: scale(1.01);
  transform: scale(1.01);
  z-index: 10;
  cursor: pointer;
}

.wave {
  font-size: 1.8rem;
}

@media only screen and (max-width: 1170px) {
  .experience-icon {
    margin-top: 27%;
    text-align: center;
  }
}

#about {
  overflow: hidden;
  padding: 2px;

  :hover,
  :active {
    cursor: default;
  }

  h1 {
    padding-top: 1em;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }
}

.modal-close {
  text-align: right;
  padding: 10px 15px 10px 15px;
  cursor: pointer;
}

.close-icon {
  color: var(--jrcolor-black);
  font-weight: lighter !important;
}

.modal-description {
  text-align: justify;
  padding: 5px 5px 0 5px;
  margin-bottom: 20px;
}

.portfolio-item {
  max-width: 100%;
  margin-bottom: 15px;
  text-align: center;
}

.project-date {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 8px 15px 2px 15px;
  position: relative;
  z-index: -500;
  border-radius: 0 0 5px 5px;
}

.project-title-settings {
  margin-top: 5%;
  font: 18px/24px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}

.portfolio
  .portfolio-item
  .portfolio-item-caption
  .portfolio-item-caption-content {
  font-size: 1rem;
}

@media (min-width: 576px) {
  .portfolio .closeButtonResponsive {
    display: block;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.skill-icon {
  font-size: 1.6rem;
  margin: 6px 8px;
}

.list-inline {
  display: block;
  list-style: none;
}

.footer-devicons {
  width: 56px;
  height: 56px;
  margin: 15px;

  @media (max-width: 600px) {
    width: 28px;
    height: 28px;
    margin: 7px;
  }
}

footer {
  min-height: 80px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

footer a {
  :visited,
  :hover,
  :focus {
    color: var(--jrcolor-darkblue);
  }
}

.revision-text {
  font-size: 2em;
  padding-right: 4px;
  cursor: default; // force default cursor style

  :hover {
    cursor: default; // enforce default cursor on hover
  }

  font-size: 1.5rem;
  padding-right: 4px;

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.work-experience {
  :focus,
  :hover {
    cursor: default;
  }
}

.jr-software-logo {
  width: 56px;
  height: 56px;
  margin: 15px;

  @media (max-width: 600px) {
    width: 28px;
    height: 28px;
    margin: 7px;
  }
}
