:root {
  --jrcolor-lightblue: rgb(205, 241, 255);
  --jrcolor-yellow: rgb(255, 218, 70);
  --jrcolor-bluelink: rgb(0, 0, 255);
  --jrcolor-darkblue: rgb(65, 75, 178);
  --jrcolor-brown: rgb(106, 91, 39);
  --jrcolor-darkgreen: rgb(0, 100, 0);
  --jrcolor-lightgray: rgb(240, 240, 240);
  --jrcolor-midgray: rgb(200, 200, 200);
  --jrcolor-darkgray: rgb(100, 100, 100);
  --jrcolor-black: rgb(20, 20, 20);
}
